<form class="form-inline">
		<div class="row">
				<div class="col-md-12">
					<div class="form-group">
                    <label>Function</label>
                  <select class="form-control" 
                    		ng-model="fitFunc"
                    		ng-change="initFunc(fitFunc)"
                    		ng-options="fFunc for fFunc in fitList track by fFunc"
                    		ng-init="fitFunc = fitList[0]">
                    </select>
                    <label class="control-label" ng-show="fitFunc === 'polynomial'">Grade</label>
					<div class="input-group" ng-class="{'has-error':!isValidGrade.isValid}">
						<input type="number" class="form-control" 
							ng-show="fitFunc === 'polynomial'"
							ng-model="grade"
							ng-change="validateGrade(grade)"
							step="1">
					</div>
					<button class="btn btn-flat btn-primary"
                			ng-click="addFit(fitFunc,grade)"
                			ng-disabled="!isValidAllFunc || !isValidGrade.isValid">
                			Add
                	</button>
                	</div>
                </div>
		</div>
 			
		<div class="row" ng-if="funclist.length>0">
			<div class="col col-md-12">
				<h5> <strong>Fit function: </strong> f(x) = <span ng-bind-html="funcTotal"></span></h5>
			</div>
	   </div>
			<div class="row" ng-if="funclist.length>0">
 				<div class="col-md-12">
 					<table class="table" >
 						<thead>
 							<tr>
 							    <th style="width: 5%;">#</th>
			                    <th style="width: 20%;">Function</th>
			                    <th style="width: 35%;">Init bin</th>
			                    <th style="width: 35%;">End bin </th>
	                    	</tr>
 						</thead>
 						<tfoot>
						    <tr ng-if="!isValidAllFunc">
						      
						      <td colspan="2">
						      		<p class="text-red">
			      						{{errorXMax}}
									</p>
						      </td>
						    </tr>
					  	</tfoot>
	             		<tbody>
	             			<tr ng-repeat="f in funclist track by $index">
								<td>
									{{$index+1}} 
								</td>
								<td>{{f}}</td>
								<td >
									<div class="input-group" 
										 ng-class="{'has-error':!isValidRangeFit[$index][0]}"
										 >
										<input type="number" class="form-control"
											ng-model="range[$index][0]"
											ng-init="range[$index][0] = drawhistolist[0].minX"
											step="{{stepInputX}}">
										<span ng-if="drawhistolist[0].unitsX !== 'null'" class="input-group-addon"  ng-bind-html="drawhistolist[0].unitsX"></span>
									</div>
									
								</td>
								<td>
									<div class="input-group" 
										 ng-class="{'has-error':!isValidRangeFit[$index][1]}">
										
										<input type="number" class="form-control"
											ng-model="range[$index][1]"
											ng-init="range[$index][1] = drawhistolist[0].maxX"
											step="{{stepInputX}}">
										<span ng-if="drawhistolist[0].unitsX !== 'null'" class="input-group-addon" ng-bind-html="drawhistolist[0].unitsX"></span>	
									</div>
								</td>
								<td>
									<button class="btn btn-sm btn-danger btn-flat"
											ng-click="delFit($index)"><i class="fa fa-trash"></i></button>
								</td>
								
							</tr>
	             		</tbody>
                </table>
 				</div>
 			</div>
 		
			<div class="row" ng-if="funclist.length>1">
				<div class="col-md-12">
					<div>
						<p class="text-red" ng-if="!isValidRangeFuncTotal.min || !isValidRangeFuncTotal.max">
							<em>{{errorXMax}}</em>
						</p>
					</div>
					<h4>Range of fit function</h4>
					<label ng-class="{'text-red':!isValidRangeFuncTotal.min}">Init bin</label>
					<div class="input-group" ng-class="{'has-error':!isValidRangeFuncTotal.min}">
						<input type="number" class="form-control"  
						   	ng-model="rangeTotalFit.minbinfit" step="{{stepInputX}}"
						   	min="drawhistolist[0].minX" max="drawhistolist[0].maxX">
						<span ng-if="drawhistolist[0].unitsX !== 'null'" class="input-group-addon" ng-bind-html="drawhistolist[0].unitsX"></span>
					</div>
					<label ng-class="{'text-red':!isValidRangeFuncTotal.max}">End bin</label>
					<div class="input-group" ng-class="{'has-error':!isValidRangeFuncTotal.max}">
						<input type="number" class="form-control" 
						   	ng-model="rangeTotalFit.maxbinfit" step="{{stepInput}}"
						   	min="drawhistolist[0].minX" max="drawhistolist[0].maxX">
						<span ng-if="drawhistolist[0].unitsX !== 'null'" class="input-group-addon" ng-bind-html="drawhistolist[0].unitsX"></span>
					</div>
				</div>
			</div>
	 		<br />		
	
			<div class="row" ng-if="funclist.length>0">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-flat"
		  							ng-disabled="!isValidRangeFuncTotal.min || !isValidRangeFuncTotal.max || !isValidAllFunc"
		  							ng-click="makeFit()">
		  							Fit
		  			</button>
				</div>
			</div>
</form>
